__pycache__
*.pkl
.ipynb_checkpoints
*.ipynb
result
data/**/*.jpg
data/**/*.json
*.zip
*.swp
.DS_Store
data/annotations
data/train2014
data/val2014
*.profile
*.nvvp
data/annotations
data/train2014
data/val2014
data/rgbd
*.stats
*.bag
libs
